body{
    background: center no-repeat url(img/matthew-kerslake-0CChQu1stZc-unsplash.jpg);
    background-size: 100% 100%;
    background-size: cover;
    /* height: 100vh; */
}
html {
    /* font-size: 62.5%; */
    font-size:30px;
    /* background: linear-gradient(35deg, #8CDCAC, #DCD48C); */
}

.navigation{
background-color: #8C93DC;
border: 0.2rem dotted rgb(165, 169, 221);
}

.nav-li, ul{
    list-style-type: none;
    padding-left: 0;
}
.nav-li{
    display: inline-block;
    background-color: rgb(95, 105, 218);
    color: rgb(255, 249, 249);
    margin-left: 3rem;
    margin: 0.2rem;
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    padding: 0.5rem 1rem 0.5rem 1rem;
    
}
.nav-li:hover {
    transform: scale(1.1);
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    color: aliceblue;
    font-style: oblique;
    text-align: center;
}
.all-cla {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}


.cla1, .cla2, .cla3, .cla4, .cla5, .cla6, .cla7, .cla8, .cla9, .cla10{
    height: 200px;
    width: 200px;
    /* width: 10rem; */
    background-color: rgb(128, 132, 180);
    border: dashed 2px rgb(74, 80, 148);
    
    /* ar šiem diviem izlaboju ipad pro apakšējās malas noraušanu*/
    margin: 1rem;
    padding: 0.5rem;
}

/* vai var visus cla iezīmēt?*/
.cla2:hover {
    transform: scale(1.2);
    background-color: #5e456b;
}

.button-enrool{
    text-align: center;
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-style: oblique;
}

button {
    width: 15rem;
    border-radius: 300px;
    padding: 1rem 2rem;
    font-size: 2rem;
}
button:hover{
    background-color: #d2b8df;
    border-color: #a992af;
    border-width: 5px;
    cursor: pointer;
}

footer{
    text-align: center;
    color: aliceblue;
}